/* место для вашего кода */

header {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    width: 1340px;
    height: 109px;
    margin: 92px auto;
}

.cover {
    width: 1440px;
    height: 757px;
    flex-shrink: 0;
    background-image: url(../images/cover.jpg);
    background-size: cover;
}

.lots {
    display: flex;
    width: 1340px;
    height: 579px;
    flex-shrink: 0;
}

.about {
    width: 1340px;
    height: 487px;
    flex-shrink: 0;
    background-color: aqua;
}

footer {
    display: flex;
}

.header_menu {
    display: flex;
    margin: auto 0;
    align-self: flex-start;
}

.header_links-list {
    display: flex;
    margin: auto;
    list-style: circle;
}

.header_links-list-item {
    margin: auto 32px;
    white-space: nowrap;
}

.header_links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    display: flex;

}

.header__logo-image {
    display: flex;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
}

.about_logo {
    background-color: black;
    display: flex;
    width: 430px;
    height: 240px;
    padding: 0px 95px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}